[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
pyyaml-include = {editable = true,extras = ["all"],path = "."}
autopep8 = "*"
coverage = "*"
twine = "*"
wheel = "*"
sphinx = "*"
