[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
pyyaml-include = {path = ".",editable = true}
pytest = "*"
autopep8 = "*"
pylint = "*"
rope = "*"
twine = "*"
wheel = "*"
sphinx = "*"
