importlib_metadata;python_version<"3.8"

Sphinx>=7
myst-parser

furo

linkify-it-py
# sphinx-autodoc2
sphinx-copybutton
sphinx-inline-tabs
sphinx_tippy
sphinx-version-warning

# for direct pdf generate
rinohtype
pillow
